@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@theme {
    --font-poppins: "Poppins", serif;
    --color-primary-blue:#2563EB;
    --color-dark-gray:#1E293B;
    --color-dark-gray-background:#121212;
    --color-header:#1E293B;
    --color-light-gray:#b4b4b4;
    --color-input-dark:#1E1E1E;
    --color-gray-border:#303030;
    --color-gray-btn:#242424;
    --color-secondary-text:#64748B;  
    --color-success-green:#10B981;
    --color-Error:#EF4444;
    --color-highlights-yellow:#FBBF24;
}

